#admin {
  display: flex;
  min-height: 100vh;

  #sidebar {
    width: 350px;
    background: #EAD9CB;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 1em;

      li {
        position: relative;
      }

      .active > a {
        background: #fff6ee;
        border-left: 0.5em solid #c39e84;
        padding-left: 0.5em;
      }

      a {
        display: block;
        font-weight: bold;
        padding: 0.5em 1em;
      }
    }

    .create-work {
      background: url("/img/new.svg");
      background-repeat: repeat;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 0;
      padding: 14px;
      margin: 0;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .works {
      a {
        font-weight: normal;
      }

      .group-name {
        margin-left: 1em;
        opacity: 0.5;
      }
    }
  }

  main {
    width: 100%;
  }
}
