@import "./_colours.scss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html, body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: $foreground;
  background: $background;
  font-size: 20px;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1em;
  height: 0.2em;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  transition: bottom 300ms, opacity 300ms;
}

a:hover::after {
  bottom: 0;
  opacity: 1;
}

h1 {
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
  border-left: 10px solid #EAD9CB;
  padding-left: 1em;
}

.container {
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.event-block {
  display: flex;
  margin-bottom: 1em;

  .event-date {
    flex: 0 0 8em;
  }
}

.project {
  display: flex;
  flex-direction: column;
  width: 20em;
  background: black;
  color: white;
  padding: 2em;

  .project-name {
    font-weight: bold;
  }
}

.splash {
  width: 100%;
  height: 75vh;
  background-color: #EAD9CB;
  background-image: url("/img/splash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  font-size: 3em;
  padding: 1em;

  .logo {
    img {
      width: 135px;
    }

    .logo-text {
      font-weight: bold;
      color: #000;
      width: 130px;
      font-size: 30px;
      line-height: 1em;
      margin-top: -10px;
    }

  }
}

.work-details {
  display: flex;
  flex-direction: column;

  .detail-row {
    display: flex;

    .key {
      font-weight: bold;
      flex: 0 0 130px;
    }
  }
}

.work-name h1 {
  margin-bottom: 0;
}

.header img {
  width: 100%;
  border-radius: 5px;
}

.summary-list {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 1fr;
  justify-content: space-between;

  .summary-card {
    width: 300px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    background-color: #EAD9CB;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    font-weight: normal;
    transition: all ease 0.2s;

    &:hover {
      transform: scale(1.02);
      text-decoration: none;
      border-bottom: none;
    }

    &:hover::after {
      opacity: 0;
    }

    .thumbnail {
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }

    .summary {
      padding: 1em;
      flex-grow: 1;

      h3 {
        margin: 0;
      }
    }
  }
}


button {
  background-color: #EAD9CB;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  min-width: 8em;
  cursor: pointer;
}

button.warning {
  background-color: #F29F9F;
}

input[type="text"] {
    padding: 1em;
    background-color: #FFF;
    border: 1px solid #EAD9CB;
    border-radius: 5px;
    width: 100%;
  }

  textarea {
    padding: 1em;
    background-color: #FFF;
    border: 1px solid #EAD9CB;
    border-radius: 5px;
    width: 100%;
    resize: none;
    height: 11.5em;
    font-family: inherit;
  }

.settings {
  img.image-upload {
    display: block;
    cursor: pointer;
    object-fit: cover;
  }

  img.image-upload.thumbnail {
    width: 300px;
    height: 300px;
  }

  img.image-upload.header {
    width: 500px;
    height: 333px;
  }
}

.settings.project-settings {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 2em;
}

.settings.work-settings {
  display: grid;
  grid-template-columns: auto 500px;
  gap: 2em;
}

.controls {
  display: flex;
  gap: 1em;
}

.login-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  button {
    width: 100%;
  }
}

.not-found-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;

  img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

footer {
  display: flex;
  gap: 2em;
}

.about {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.loading-page {
  min-height: 400px;
}

@keyframes loaded {
  from {
    opacity: 0;
    margin-top: 10px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.loaded {
  animation: loaded 0.35s ease-in-out;
}

@media (max-width: 680px) {

  .summary-list {
    justify-content: center;
  }

  .event-block {
    flex-direction: column;

    .event-date {
      opacity: 0.5;
      flex: 0;
    }
  }
}
